@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #1f1f2f, #0d0d19);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  --purple: #8b5cf6;
  --pink: #ec4899;
}


.bg-stars {
  background-image: url('https://source.unsplash.com/random/1920x1080?stars');
  background-size: cover;
  background-position: center;
}




